* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.my-4{
    margin-top: 0 !important;
    }
#back {
    /* background-image: url(pexels-pixabay-531756.jpg); */
}
.navbar{
    padding: 0;
    height: 60px;
}
.card-header {
    background-color:rgb(240, 242, 244) !important;
    color: black !important;
}
#card-body1{
    background-image: url("photo-1470176519524-3c2f481c8c9c.jpeg");
    background-size: fit;
    background-position-y: 400px;
}
#card-body2{
    background-image: url("DCMEX-Cloud-Formation-1280px.jpg");
    background-size: fit;
    background-position-y: 400px;
    
}
#card-body3{
    background-image: url("photo-1470176519524-3c2f481c8c9c.jpeg");
    background-size: fit;
    background-position-y: 400px;


}
